<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwExceptions="true">

  <variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - "/>
  <variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>

  <variable name="linePrefixShort" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} - "/>
  <variable name="exceptionFormatShort" value="${onexception:${newline}${exception:format=shortType,message,method:maxInnerExceptionLevel=1:innerFormat=shortType,message}}"/>

  <targets>
    <target xsi:type="ColoredConsole" name="console" />

    <target xsi:type="File"
            name="fileDetailed"
            fileName="C:/Temp/AFract.Samples.ScopedLogging_${scopeproperty:OperationType:whenEmpty=Base}_${scopeproperty:StartTime:whenEmpty=${date:format=yyyy-MM-dd HH\:mm\:ss:cached=true}}.log"
            layout="${linePrefix}${message}${exceptionFormat}" />
    
    <target xsi:type="File"
            name="fileUserFriendly"
            fileName="C:/Temp/AFract.Samples.ScopedLogging_Detailed_${scopeproperty:OperationType:whenEmpty=Base}_${scopeproperty:StartTime:whenEmpty=${date:format=yyyy-MM-dd HH\:mm\:ss:cached=true}}.log"
            layout="${linePrefixShort} ${scopeproperty:OperationType:whenEmpty=Base} ${scopeproperty:CorrelationGuid} ${message}${exceptionFormatShort}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,fileDetailed" />
    <logger name="*" minlevel="Info" writeTo="fileUserFriendly" />
  </rules>
</nlog>
